/sastool.egg-info
/test.png
/dist
/build
.settings
tests/data_reduction
tests/centering
/.idea/
*~
__pycache__
.pydevproject
/.eggs
/conda_build.sh
/sastool/fitting/fitfunctions/c_fitfunction.c
/sastool/io/c_io.c
/sastool/misc/cormap/schilling.c
/sastool/sim/c_sim.c
/sastool/utils2d/c_integrate.c
/sastool/utils2d/c_fastpixelint.c

